<html>
  <head>
    <% include ./common/scripts %>
  </head>
  <body>
    <canvas id="networkCanvas" style="width:100%;height:100%" resize></canvas>
    <div>
      <script type="text/javascript" src="/javascripts/internal/settings.js"></script>
      <script type="text/javascript" src="/javascripts/internal/canvasEvents.js"></script>
      <script type="text/paperscript" src="/javascripts/internal/designer.js" canvas="networkCanvas"></script>
    </div>
  </body>
</html>